:root {
    --dark-color: #222;
    --text-color-alt: #666;
    --text-color-light: #e6e6e6;
    --main-color: #717fe0;
    --red-color: #f74877;
    --product-border: 1px solid #e6e6e6;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
input,
button {
    font-family: 'Roboto', sans-serif;
}
.container {
    padding: 25px 20px;
}
.main-title h2 {
    color: var(--dark-color);
    font-size: 40px;
    font-weight: bold;
}
.section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: var(--text-color-light);
    z-index: 5;
    transition: 0.4s all;
}
.change_header-background {
    background-color: #fff;
}
.cart-items {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    position: absolute;
    right: -200%;
    top: 0;
    min-height: 500px;
    width: 400px;
    background-color: #fff;
    padding: 20px 30px;
    z-index: 2;
    transition: 0.4s all;
}
.close-cart {
    background-color: var(--main-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.close-cart i {
    font-size: 1rem;
}
.show-cart {
    right: 0;
}
.cart-title h3 {
    color: #222;
    text-align: center;
    font-size: 22px;
}
.cart-image {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}
.cart-text p {
    color: var(--text-color-alt);
}
.total p {
    color: var(--dark-color);
}
.cart-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.6rem;
}
.cart-btns a {
    background-color: var(--dark-color);
    color: var(--text-color-light);
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 20px;
    transition: 0.4s;
}
.cart-btns a:hover {
    background-color: var(--main-color);
    color: var(--text-color-light);
}
.nav-list {
    display: flex;
}
.nav-list .nav-link {
    color: var(--dark-color);
    font-size: 16px;
    margin-left: 35px;
    transition: 0.3s ease-out;
    font-weight: bold;
}
.nav-link.active-link {
    color: var(--main-color);
}
.nav-list .nav-link:hover {
    color: var(--main-color);
}
.header-icons {
    display: flex;
    position: relative;
}
.toggle-menu,
.close-list {
    display: none;
}
.header-icons i {
    margin-left: 35px;
    font-size: 1.2rem;
    transition: 0.3s ease-out;
    cursor: pointer;
}
.shopping,
.heart {
    position: relative;
}
.s-0 {
    position: absolute;
    top: -17px;
    right: -14px;
    background-color: var(--main-color);
    color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-0 {
    position: absolute;
    top: -17px;
    right: -14px;
    background-color: var(--main-color);
    color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-icons i:hover {
    color: var(--main-color);
}
.nav-list li {
    position: relative;
}
.label-1 {
    position: relative;
}
.label-1::after {
    content: "Hot";
    font-size: 10px;
    line-height: 15px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    display: block;
    position: absolute;
    top: -20px;
    right: -9px;
    height: 15px;
    min-width: 32px;
    background-color: rgb(247, 72, 119);
    border-radius: 7px;
    padding: 0px 4px;
}
.search-bar {
    position: fixed;
    z-index: 20000;
    background-color: var(--text-color-light);
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s all;
}
.input-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.input-search input {
    border: 2px solid var(--text-color-alt);
}
.input-search i {
    position: absolute;
    right: 2rem;
    font-size: 2rem;
}
.search-bar input {
    width: 600px;
    height: 70px;
    padding: 20px;
    border-radius: 50px;
    font-size: 2rem;
    outline: none;
}
.close {
    position: absolute;
    right: 26%;
    top: 35%;
    font-size: 2rem;
    z-index: 10000;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.show_search-bar {
    top: 0;
}
.slider-container {
    width: 100%;
    overflow: hidden;
}
.slider {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease;
}
.slide {
    width: 100%;
}
.first-slide {
    background-image: url(../images/slide-03.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}
.slide-headline {
    font-size: 28px;
    line-height: 1.2857;
    margin-bottom: 20px;
}
.slide-title {
    font-family: 'Lora', serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.main-button {
    background-color: var(--main-color);
    width: fit-content;
    padding: 13px 25px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}
.main-button a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.main-button:hover {
    background-color: var(--dark-color);
}
.banner-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.banner {
    position: relative;
    display: flex;
    border: var(--product-border);
    padding: 15px 25px;
    transition: 0.4s all;
}
.banner:hover .banner-hover {
    display: block;
}
.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 0;
    transition: opacity 0.4s ease;
}
.banner:hover::after {
    opacity: 0.8;
}
.banner-text {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.banner-text h3 {
    color: var(--dark-color);
}
.banner-text {
    color: var(--text-color-alt);
}
.banner-image img {
    width: 480px;
}
.banner-hover {
    position: absolute;
    padding: 5px 0;
    left: 1rem;
    bottom: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #fff;
    color: #fff;
    display: none;
    animation-duration: 1s; 
    animation-fill-mode: both;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(100%);
    opacity: 0;
    z-index: 2;
}
.banner-hover span {
    cursor: pointer;
}
.banner:hover .banner-hover {
    display: block;
    transform: translateX(0);
    opacity: 1;
}
.products-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}
.products-list,
.products-btns {
    display: flex;
}
.products-bar a {
    color: var(--text-color-alt);
}
.products-list li {
    position: relative;
}
.products-list a {
    margin-right: 40px;
    border-bottom: 1px solid transparent;
    transition: 0.4s ease;
}
.products-list a.active {
    border-bottom: 1px solid var(--text-color-alt);
    color: var(--dark-color);
}
.products-list a:hover {
    color: var(--dark-color);
    border-color: var(--text-color-alt);
}
.products-btns {
    column-gap: 1rem;
}
.products-btns .bar-btn a {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    transition: 0.3s ease;
    border: var(--product-border);
    padding: 10px 15px;
}
.products-btns .bar-btn {
    transition: 0.4s all;
    border-radius: 6px;
}
.products-btns .bar-btn:hover {
    background-color: var(--main-color);
}
.products-btns .bar-btn i {
    transition: 0.4s all;
    font-size: 1rem;
}
.products-btns .bar-btn:hover a,
.products-btns .bar-btn:hover i {
    color: #fff;
}
.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.product-card {
    position: relative;
}
.card-image {
    overflow: hidden;
}
.card-image img {
    transition: transform 0.9s ease;
}
.card-image:hover img {
    transform: scale(1.1);
}
.product-info {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.card-text {
    display: flex;
    flex-direction: column;
    row-gap: .6rem;
}
.card-text p {
    color: var(--text-color-alt);
    transition: 0.3s ease;
    cursor: pointer;
}
.card-text p:hover {
    color: var(--main-color);
}
.card-text .price {
    color: var(--dark-color);
}
.card-icon i {
    transition: 0.3s ease;
    color: var(--text-color-light);
}
.card-icon i:hover {
    color: var(--main-color);
}
.product_hover-item {
    background-color: #fff;
    width: 120px;
    height: 40px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 20px;
    transition: 0.6s all;
    opacity: 0;
    cursor: pointer;
}
.product-card:hover .product_hover-item {
    bottom: 25%;
    opacity: 1;
}
.product_hover-item:hover {
    background-color: var(--dark-color);
}
.product_hover-item a {
    color: #222;
}
.product_hover-item:hover a {
    color: #fff;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}
.product_main-btn {
    background-color: var(--text-color-light);
    border-radius: 20px;
    padding: 10px 40px;
    cursor: pointer;
    transition: 0.4s ease-out;
}
.product_main-btn:hover {
    background-color: var(--dark-color);
}
.product_main-btn a {
    color: var(--dark-color);
    text-transform: uppercase;
    font-weight: 500;
}
.product_main-btn:hover a {
    color: #fff;
}
.footer {
    background-color: var(--dark-color);
}
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    gap: 2rem;
}
.footer-box h3 {
    margin-bottom: 20px;
    color: var(--text-color-light);
}
.footer-box .footer-list {
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
}
.footer-box a {
    color: #b2b2b2;
    transition: 0.3s ease-out;
}
.footer-box a:hover,
.footer-social i:hover {
    color: var(--main-color);
}
.footer-box .box-description p {
    color: #b2b2b2;
    line-height: 2;
    margin-bottom: 25px;
}
.footer-social {
    display: flex;
    column-gap: 1rem;
}
.footer-social i {
    font-size: 1.4rem;
    transition: 0.3s ease-out;
}
.footer-box form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.footer-box form input[type= "email"] {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #666;
    padding: 10px 0;
    border-radius: 1px;
    outline: none;
    caret-color: var(--main-color);
    font-size: 16px;
    color: #fff;
}
.footer-box form input[type="email"]:focus,
.footer-box form input[type="email"]::placeholder {
    border-bottom-color: var(--main-color);
    transition: all 0.3s ease-in-out;
}
.footer-box form input[type="email"]:focus::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: 1s transform ease-in-out;
}
.footer-box form input[type="email"]:focus::after {
    transform: scaleX(1);
}
.footer-box form input[type= "button"] {
    position: relative;
    background-color: var(--main-color);
    border: 0;
    outline: none;
    padding: 15px 0;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s ease-out;
    font-weight: 600;
} 
.footer-box form input[type= "button"]:hover {
    background-color: #fff;
    color: var(--main-color);
}
.footer-cards {
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-alt);
}
.table-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.a-container {
    padding-top: 130px;
}
.features-link {
    display: flex;
    align-items: center;
}
.features-link a {
    color: var(--dark-color);
    transition: 0.4s all;
}
.features-link a:hover {
    color: var(--main-color);
}
.features-link i {
    font-size: 1.4rem;
}
.features-link span {
    color: var(--text-color-alt);
}
table {
    border: 1px solid var(--text-color-alt);
    width: 900px;
    height: 400px;
    padding: 10px 15px;
}
table td {
    color: var(--text-color-alt);
}
tr input {
    background-color: var(--text-color-light);
    outline: none;
    width: 40px;
    height: 40px;
    padding: 3px;
    border: 1px solid var(--text-color-light);
    transition: 0.3s all;
}
tr input:focus {
    border-color: var(--main-color);
}
.table-btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;
    border-bottom: 1px solid var(--text-color-alt);
}
.f-btn {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.f-btn input {
    border: 1px solid var(--text-color-light);
    background-color: transparent;
    padding: 15px 20px;
    border-radius: 30px;
    outline: none;
    transition: 0.4s all;
}
.f-btn input:focus {
    border-color: var(--text-color-alt);
}
.f-btn a {
    border: 1px solid var(--text-color-alt);
    background-color: transparent;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 30px;
    transition: 0.4s all;
    color: var(--dark-color);
    transition: 0.3s;
}
.f-btn a:hover {
    border: 1px solid transparent;
    background-color: var(--main-color);
    color: var(--text-color-light);
}
.s-btn a {
    border: 1px solid var(--text-color-alt);
    background-color: transparent;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 30px;
    transition: 0.4s all;
    color: var(--dark-color);
    transition: 0.3s;
}
.s-btn a:hover {
    border: 1px solid transparent;
    background-color: var(--main-color);
    color: var(--text-color-light);
}
.cart-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-container {
    border: 1px solid #ccc;
    width: 600px;
    min-height: 500px;
}
.cart-title {
    text-transform: uppercase;
    color: var(--dark-color);
    font-weight: bold;
    font-size: 28px;
    padding-bottom: 20px;
}
.subtotal-row {
    display: flex;
    align-items: center;
    column-gap: 3rem;
    padding: 13px 0;
    border-bottom: 1px dashed var(--dark-color);
    padding-bottom: 20px;
}
.subtotal-label,
.shipping-label,
.total-label {
    color: var(--dark-color);
    font-weight: 600;
}
.shipping-message {
    color: var(--text-color-alt);
}
.shipping-label,
.total-row {
    display: flex;
    column-gap: 3rem;
    padding: 40px 0;
}
.cart-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px dashed var(--dark-color);
    padding-bottom: 40px;
    row-gap: 1rem;
}
.cart-form select,
.cart-form input {
    width: 200px;
    background-color: transparent;
    border: 1px solid var(--text-color-light);
    padding: 10px;
    transition: 0.4s;
    border-radius: 10px;
}
.cart-form select:focus {
    border-color: var(--text-color-alt);
}
.cart-form input {
    outline: none;
}
.cart-form input:focus {
    border-color: var(--text-color-alt);
}
.update-btn {
    width: 170px;
    border: 1px solid var(--text-color-light);
    color: var(--dark-color);
    background-color: var(--text-color-light);
    padding: 14px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s all;
}
.update-btn:hover {
    background-color: var(--main-color);
    color: var(--text-color-light);
    border-color: transparent;
}
.checkout-btn {
    border: 1px solid transparent;
    background-color: var(--dark-color);
    color: var(--text-color-light);
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    height: 45px;
    border-radius: 30px;
    transition: 0.4s all;
}
.checkout-btn:hover {
    background-color: var(--main-color);
    border: 1px solid transparent;
}
.a-main-title {
    background-image: url(../images/bg-02.jpg);
    min-height: 240px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}
.a-main-title h2 {
    color: var(--text-color-light);
    padding-top: 50px;
    font-size: 40px;
    font-weight: bold;
}
.blogs-container {
    display: flex;
    column-gap: 3rem;
}
.blog-container {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
.blog_box-image {
    position: relative;
    overflow: hidden;
}
.blog_box-image img {
    transition: 0.4s all;
}
.blog_box-image img:hover {
    transform: scale(1.1);
}
.blog_image-hover {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    left: 1rem;
    background-color: var(--text-color-light);
    padding: 20px;
    border-radius: 4px;
}
.blog_image-hover .blog_hover-number {
    font-size: 30px;
    font-weight: bold;
}
.blog_image-hover  .blog_hover-info {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color-alt);
}
.blog_box-title {
    padding: 20px 0;
}
.blog_box-title a {
    color: var(--dark-color);
    font-weight: bold;
    font-size: 30px;
    transition: 0.4s all;
}
.blog_box-title a:hover {
    color: var(--main-color);
}
.blog_box-description {
    margin-bottom: 20px;
    color: var(--text-color-alt);
}
.blog_last-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog_box-list {
    display: flex;
}
.blog_box-list li {
    padding-right: 3px;
    color: var(--text-color-alt);
}
.blog_box-list li span {
    color: #ccc;
}
.blog_line-link {
    display: flex;
    align-items: center;
    column-gap: .9rem;
}
.blog_line-link a {
    color: var(--dark-color);
    font-weight: 500;
    transition: 0.4s all;
}
.blog_line-link a:hover {
    color: var(--main-color);
}
.blog_box-bullets {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.blog_box-bullets .blog_first-bullet {
    width: 45px;
    height: 45px;
    background-color: var(--text-color-alt);
    color: var(--text-color-light);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.blog_box-bullets .blog_second-bullet {
    width: 45px;
    height: 45px;
    background-color: var(--text-color-light);
    color: var(--text-color-alt);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.4s all;
}
.blog_box-bullets .blog_second-bullet:hover {
    background-color: var(--text-color-alt);
    color: var(--text-color-light);
}
.blog-card {
    margin-bottom: 3rem;
}
.blog_card-search {
    position: relative;
    width: 200px;
    display: flex;
    align-items: center;
}
.blog_card-search input {
    background-color: transparent;
    color: var(--text-color-alt);
    outline: none;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid var(--text-color-light);
    transition: 0.4s all;
}
.blog_card-search input:focus {
    border-color: var(--text-color-alt);
}
.blog_card-search i {
    position: absolute;
    right: 1.2rem;
    top: 0.5rem;
}
.blog-cards {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}
.blog_card-title {
    padding: 25px 0;
}
.blog_card-title h3 {
    color: var(--dark-color);
    font-weight: bold;
}
.blog_card-item {
    padding: 10px 0;
    border-top: 1px solid var(--text-color-light);
    border-bottom: 1px solid var(--text-color-light);
    width: 140px;
}
.blog_card-item a {
    color: var(--text-color-alt);
    transition: 0.4s all;
}
.blog_card-item a:hover {
    color: var(--main-color);
}
.blog-card-product {
    display: flex;
    column-gap: 1.5rem;
    margin-bottom: 30px;
}
.blog-card-product a {
    flex: 70%;
}
.product_info p {
    font-size: 16px;
    color: var(--text-color-alt);
    padding-bottom: 10px;
}
.product_info span {
    color: var(--dark-color);
    font-weight: bold;
}
.blog_archive-content {
    color: var(--text-color-alt);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.blog_archive-content p,
.blog_archive-content span {
    cursor: pointer;
    transition: 0.4s all;
}
.blog_archive-content p:hover {
    color: var(--main-color);
}
.blog_archive-content span:hover {
    color: var(--main-color);
}
.blog_tags-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.blog_tags-content a {
    background-color: transparent;
    color: var(--dark-color);
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid var(--text-color-alt);
    transition: 0.4s all;
}
.blog_tags-content a:hover {
    background-color: var(--main-color);
    color: var(--text-color-light);
    border-color: transparent;
}
.a-main-title.about-bg {
    background-image: url(../images/bg-01.jpg);
}
.about-container {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
.about-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
}
.about-title {
    font-size: 28px;
    color: var(--dark-color);
    font-weight: 700;
    padding-bottom: 25px;
}
.about-txt {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    color: var(--text-color-alt);
}
.about-1-image img {
    width: 300px;
}
.about-1-image::before {
    content: "";
    position: absolute;
    left: -2rem;
    top: 1rem;
    width: 100%;
    height: 300px;
    border: 5px solid var(--text-color-light);
    z-index: -1;
}
.about-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 3rem;
}
.about-2-image::before {
    content: "";
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 100%;
    height: 300px;
    border: 5px solid var(--text-color-light);
    z-index: -1;
}
.about-1-image,
.about-2-image {
    overflow: hidden;
    position: relative;
}
.about-1-image img,
.about-2-image img {
    transition: 0.4s all;
}
.about-1-image img:hover,
.about-2-image img:hover {
    transform: scale(1.2);
}
.about-txt-2 {
    row-gap: 2rem;
}
.about-2-sdescription {
    border-left: 3px solid var(--text-color-light);
    padding: 0 0 20px 20px;
}
.about-2-sdescription p {
    padding-bottom: 20px;
}
.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
}
.contact-left {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
    border-right: 1px solid var(--text-color-light);
    padding: 0 30px;
}
.contact-title {
    color: var(--text-color-alt);
    font-weight: 600;
}
.contact-form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.contact-form input[type= "email"] {
    border-radius: 20px;
}
.contact-form input,
.contact-form textarea {
    background-color: transparent;
    color: var(--text-color-alt);
    outline: none;
    border: 1px solid var(--text-color-light);
    padding: 15px;
    transition: 0.4s all;
}
.contact-form textarea {
    resize: none;
    border-radius: 5px;
}
.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--text-color-alt);
}
.contact-form input[type="submit"] {
    background-color: var(--dark-color);
    color: var(--text-color-light);
    border: 1px solid transparent;
    border-radius: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
    transition: 0.4s all;
}
.contact-form input[type="submit"]:hover {
    background-color: var(--main-color);
}
.contact-right {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.contact-right p {
    padding: 0px 20px 0px 40px;
    color: var(--main-color);
    cursor: pointer;
}
.addrres-line {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.addrres-line span {
    color: var(--dark-color);
    font-weight: bold;
    text-transform: uppercase;
}
.addrres-line i {
    font-size: 1.3rem;
    color: var(--text-color-alt);
}
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -100%;
    background-color: var(--main-color);
    color: var(--text-color-light);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s all;
}
.scrollup:hover {
    transform: translateY(-10px);
}
.show_scrollup {
    bottom: 4rem;
}
@media screen and (max-width: 767px) {
    .nav-list {
        flex-direction: column;
        position: absolute;
        right: -200%;
        top: 0;
        row-gap: 3rem;
        background-color: var(--main-color);
        padding: 100px 80px;
        height: 100vh;
        z-index: 10;
        transition: 0.5s all;
    }
    .show_nav-list {
        right: 0;
    }
    .nav-list .nav-link:hover {
        color: var(--text-color-light);
    }
    .nav-link.active-link {
        color: var(--text-color-light);
    }
    .header-icons i {
        font-size: 1rem;
    }
    .toggle-menu  {
        display: block;
    }
    .toggle-menu i {
        cursor: pointer;
    }
    .close-list {
        position: absolute;
        left: 1rem;
        top: 2rem;
        z-index: 10;
        font-size: 1rem;
        font-weight: bold;
        background-color: transparent;
        color: var(--text-color-light);
        border-radius: 50%;
        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .cart-items {
        width: 100%;
    }
    .banner-container {
        grid-template-columns: 1fr;
    }
    .main-title h2 {
        font-size: 28px;
    }
    .products-list, .products-btns {
        flex-wrap: wrap;
        row-gap: 0.6rem;
    }
    .products-container,
    .footer-container {
        grid-template-columns: 1fr;
    }
    .search-bar input {
        width: 100%;
    }
    .table-section {
        display: flow-root;
        overflow-y: scroll;
    }
    .table-section::-webkit-scrollbar-track {
        background-color: var(--text-color-light);
    }
    .table-section::-webkit-scrollbar-thumb {
        background-color: var(--main-color);
    }
    .table-section::-webkit-scrollbar-thumb:hover {
        background-color: var(--text-color-alt);
    }
    .table-btns {
        flex-direction: column;
        row-gap: 2rem;
    }
    .cart-container {
        width: 100%;
    }
    .f-btn a {
        padding: 15px;
    }
    .f-btn input {
        width: 140px;
        padding: 15px;
    }
    .blogs-container {
        flex-direction: column;
        row-gap: 3rem;
    }
    .blog-container {
        row-gap: 2rem;
    }
    .blog_image-hover {
        padding: 3px;
    }
    .blog_box-title a {
        font-size: 26px;
    }
    .blog_last-line {
        flex-direction: column;
        row-gap: 1rem;
    }
    .blog_box-list {
        flex-wrap: wrap;
        gap: 0.6rem;
    }
    .blog_card-search input,
    .blog_card-item,
    .blog_card-search {
        width: 100%;
    }
    .blog_card-item {
        padding: 15px 0;
    }
    .blog-card-product img {
        width: 100px;
    }
    .about-1,
    .about-2 {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .about-2-image {
        order: 2;
    }
    .contact-container {
        grid-template-columns: 1fr;
    }
    .contact-right p {
        padding: 0px 20px 0px 40px;
        color: var(--main-color);
        cursor: pointer;
    }
    .contact-left {
        border-bottom: 1px solid var(--text-color-light);
        padding: 30px 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 997px) {
    .nav-list .nav-link,
    .header-icons i {
        margin-left: 20px;
    }
    .products-container {
        grid-template-columns: 1fr 1fr;
    }
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .blogs-container {
        flex-direction: column;
        row-gap: 3rem;
    }
    .blog_card-list {
        display: flex;
        column-gap: 1rem;
    }
    .contact-container {
        grid-template-columns: 1fr;
    }
    .contact-left {
        padding: 30px 0;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        padding: 30px 40px;
    }
}